
:root {
    --transition:0.3s ease-in-out;
  --ionicon-stroke-width:20px;
    --text: #1C191B;
    --contraste: #47034e;
    --neutral: #fbf9f9;
    --neutralDark: rgba(217, 217, 217, 0.3);
    --neutralDarker: #dce3f4;
    --contrast: #171938;
    --contrastLight: #232657;
    --contrastLighter: #c3c8f3;
    --accentClr:  rgba(80 119 119);
    --accentClr2:#ae8c5c;  
    --accentClrDark: #333c92;
    --textColor: #232657;
    --textColorAccent: #000;
    --border: 1px solid #E5E5E5;
    --shadowBox: 0 0 20px #23265730;
    --little-size: 12px;
    --normal-size: 16px;
    --medium-size: 20px;
    --large-size: 30px;
    --title-size: 50px;
    --font: 'Manrope', sans-serif;
    --title-font:'Forum', cursive;  
    --FAM-pluginBackground: #fafbfc;
    --FAM-chatBackground: #f2f4f9;
    --FAM-textareaBackground: #fafbfc;
    --FAM-msgBackground: #dce3f4;
    --FAM-myMsgBackground: #fafbfc;
    --FAM-quoteBackground: #8a9fd236;
    --FAM-gradient: linear-gradient(-90deg, rgba(250, 251, 252,1) 20%, rgba(250, 251, 252,0) 100%);
    --FAM-gradientTop: linear-gradient(180deg, rgba(242, 244, 249,1) 20%, rgba(242, 244, 249,0) 100%);
    --FAM-gradientBot: linear-gradient(0deg, rgba(242, 244, 249,1) 20%, rgba(242, 244, 249,0) 100%);
    --FAM-border: 1px solid #dce3f4;
    --FAM--shadowBox: 0 0 20px var(--contrastLight);
    --FAM-sleepModeBackground: rgba(255, 255, 255, 0.6);
    --FAM-newMsgAnimation: rgb(0, 0, 0,.3);
    --FAM-accentClr: #4B57C5;
    --FAM-secondClr: #333c92;
    --FAM-fontClr: #232657;
    --FAM-fontLightClr: #484a65;
    --FAM-linkClr: #4B57C5;
    --FAM-titleClr: #171938;
    --FAM-buttonsClr: #171938;
    --FAM-fontSize: 14px;
    --FAM-titleFont: 'Open Sans';
    --FAM-titleSize: 24px;
    --FAM-light: white;
    --FAM-dark: black;
    --FAM-windowSize: 750px;
}
a {
  text-decoration: none;
    color: unset;
}

#c4.category .cate_title h2 {
    display: none;
}

#c4.category .forums {
    padding: 0 25px 25px 25px;
}

.container a {
    text-decoration: none;
    color: var(--textColorAccent);
}


body {
  margin:auto;
 /******* 
  font-family: var(--font);
  font-size: var(--normal-size);
  background:linear-gradient(180deg, #F3F7F7 0%, #C79D4B 100%);
  color: var(--text);
  background-attachment: fixed; *********/
  
  font-family: var(--font);
    font-size: var(--normal-size);
    background: linear-gradient(0deg, rgba(106 133 137), transparent), url(https://i.imgur.com/Q0fUHcj.png);
    color: var(--text);
    background-attachment: fixed;
    background-size: cover;
}


.forum-header {
  display:grid;
  height: 100vh;
  position: relative;
    overflow:hidden;
}

.barre-h {position:relative;
background: linear-gradient(180deg, rgb(80 119 119) 0%, rgb(255 255 255 / 10%) 100%);
height:10vh;
bottom:0;
    width: 100%;
  display:flex;
      z-index: 99;
  align-items: center;
    justify-content: center;
    font-weight: 600;
    color: var(--accent);}

.header {
  background-image: url("https://i.imgur.com/Q1EFiRY.png");
  background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
      grid-column: 1;
    grid-row: 1;
}

.header-figure {
background-position-x: center;
    background-image: url(https://i.imgur.com/dbpVxOM.png);
    grid-column: 1;
    grid-row: 1;
    z-index: 10;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(1);
  animation-name: scale;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  margin-left: 8%;
   margin-top: -4%;
}

@keyframes scale {
  from {transform: scale(1)}
  to {transform: scale(1.5)}
}


.forum-titre {
      grid-column: 1;
    grid-row: 1;
  background: rgba(80, 119, 119, 0.5);
backdrop-filter: blur(5px);
border-radius: 10px;
font-size: 80px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
    font-family: var(--title-font);
  z-index:90;
  position:absolute;
  left:10%;
    color: white;
    padding:10px;
    bottom:20%;
  animation-name: falling;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes falling {
  from {bottom: 100%;}
  to {bottom: 20%;}
}

.forum-titre.detail {
font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 14px;
    background: rgba(80, 119, 119, 1);
  left:unset;
   right:10%;
   bottom:28%;
  color: #1E1E1E;
    animation-name: falling;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.couronne {
      mix-blend-mode: overlay;
    grid-column: 1;
    grid-row: 1;
  position: absolute;
      place-self: center;
  animation:infinite Spin 150s linear; }
.couronne g {
  transform:scale(1.5);
}
.couronne line { 
  stroke:yellow;stroke-width:1; }
@keyframes Spin {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}

.forum-titre:hover {
  
}

/**************************************/


.pa_forum .toppa h1 {
  text-align-last: center;
 font-family: var(--title-font);
  font-size: var(--title-size);
font-style: normal;
font-weight: 400;
line-height: 53px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #1E1E1E;
  grid-row:1;
    grid-column:1;
  z-index:10;
  background: linear-gradient(180deg, rgba(88, 113, 198, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
    padding: 0 30px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.pa_forum formlosange {
    content: "";
    width: 100px;
    height: 100px;
    transform: rotate(45deg) skew(15deg, 15deg);
    border: 1px solid rgb(255 255 255);
    grid-row:1;
    grid-column:1;
    z-index:9;
}

.pa_forum formlosange:nth-of-type(2) {
   width: 120px;
    height: 120px;
}

.content-item {
  height:100px!important;
}

/************/
.pa_forum {
  max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 4fr 2fr;
    grid-template-rows: 6fr 3fr 6fr 1fr;
    gap: 0 4rem;
}

.pa_cont {
grid-row: 1/5;
    grid-column: 1/4;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 2fr 3fr 1fr;
    grid-template-columns: 1fr;
    padding: 2rem;
    max-width: 550px;
}

.pa_cont > div {
    background:rgba(217, 217, 217, 0.7);
    text-align: justify;
      border-radius: 10px;
    backdrop-filter: blur(10px);
    grid-row: 2;
    grid-column: 1;
  padding:20px;
}

.pa_cont h1 {
   font-family: var(--title-font);
  font-size: var(--title-size);
  font-weight: 400;
color: var(--accentClr);
      margin-block-start: 0em;
    margin-block-end: 0.67em;
}

.pa_cont > span {
  background-image: url(https://i.imgur.com/ysH5ezL.png);
    background-size: contain;
    grid-row: 1/4;
    grid-column: 1;
    background-repeat: no-repeat;
}

.derniersmsg {
    grid-row: 1/4;
    grid-column: 4/6;
  display:grid;
}

.cont_lsm {
  padding: 20px;
    grid-row: 2/4;
    grid-column: 2;
  display: grid;
}

.bgpa {
      grid-row: 2/4;
    grid-column: 2;
  border-radius: 10px;
    background-image: url(https://i.imgur.com/z8AQUjT.png);
      background-size: cover;
    background-repeat: no-repeat;
}

.cont_lsm > span {
grid-row: 1;
  z-index:10;
    grid-column: 1/2;
    align-self: center;
    justify-self: right;
    padding: 0 35px;
    font-size: 40px;
    font-family: var(--title-font);
    color: var(--FAM-titleClr);
}

.cont_lsm > div {
        z-index: 10;
    position: relative;
grid-row: 2;
    grid-column: 1;
    padding-left: 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-height: 350px;
    overflow: auto;
  margin-top: 100px;
}

.solopost {
  border-radius: 10px;
    backdrop-filter: blur(10px);
      background:rgba(217, 217, 217, 0.7);
  padding:2px 10px;
  width: 240px;
}

.ttlepost > a {
  text-decoration:none;
  font-weight:700;
  color:black;
}

.derniersmsg > span {
    background-image: url(https://i.imgur.com/4MJo519.png);
    background-size: contain;
    grid-row: 1/5;
    z-index: 3;
    position: relative;
    grid-column: 1/4;
    background-repeat: no-repeat;
    background-position: center;
}


/* Slideshow container */
.slideshow-container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.dot-container {
    padding: 5px;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    gap: 1em;
  align-items: center;
}

.dot.active {
  background-color: #1E1E1E;
}

section > .active, .dot:hover {
    background-color: #1E1E1E;
}
.dot {
cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 0 2px;
    background-color: var(--neutral);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/************onglet2***************/


.pa_contTopic {
grid-row: 1;
    grid-column: 1/4;
    border-radius: 10px;
    display: grid;
    margin-top: 5em;
      overflow: hidden;
}



.pa_contTopic > div {
    background: rgba(217 217 217 / 22%);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    grid-row: 1;
    grid-column: 1;
    padding: 20px 100px;
    display: flex;
  color: var(--accentClr);
    flex-direction: column;
    justify-content: center;
  transition:var(--transition);
  z-index:10;
}

.pa_contTopic:hover > div {
  background-color:rgba(0 0 0 / 42%);
    transition:var(--transition);
  text-decoration: underline;
}

.pa_contTopic:hover > span {
  transform:scale(2);
  transition:var(--transition);
}

.pa_contTopic h1 {
   font-family: var(--title-font);
  font-size: var(--title-size);
  font-weight: 400;
color: white;
  text-transform:uppercase;
      margin-block-start: 0em;
    margin-block-end: 0em;
}

.pa_contTopic > span {
  background-image: url(https://i.imgur.com/RqOJf8s.png);
  z-index:3;
    background-size: cover;
      border-radius: 10px;
    grid-row: 1;
    grid-column: 1;
    background-repeat: no-repeat;
    transform:scale(1);
  transition:var(--transition);
}

.creditspa {
grid-row: 1/3;
    grid-column: 4/6;
    display: grid;
    margin-top: 8em;
    background: linear-gradient(180deg, rgba(255 207 131 / 70%) 0%, rgba(255, 255, 255, 0) 100%), url(https://i.imgur.com/CTQqbX1.png);
    background-size: cover;
    border-radius: 10px;
  padding: 2em;
}

.creditspa > span {
      padding: 2em;
    display: flex;
    align-items: center;
    font-family: var(--title-font);
    font-size: 20px;
    font-weight: 600;
}

.creditspa > a div {
width: 148px;
    height: 38px;
    background: var(--accentClr2);
    border-radius: 10px;
    display: flex;
    float: right;
    text-align: center;
    align-items: center;
    place-content: center;
    font-weight: 600;
    font-size: var(--medium-size);
  transition:var(--transition);
}

.creditspa > a:hover > div {
      color: #868DD4;
      background: black;
  transition:var(--transition);
}

.staffpa {
margin-top: 2em;
    margin-bottom: 5em;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row: 2/4;
    margin-left: -2em;
    grid-column: 1/4;
    display: grid;
  height: 460px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(185 185 185 / 10%) 100%);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.staffpa > span {
grid-row: 1;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    font-size: var(--title-size);
    font-family: var(--title-font);
    color: var(--accentClr);
  line-height: 0.5;
    text-align-last: center;
}

.staffpa > span mm {
font-size: var(--medium-size);
    font-family: var(--font);
    color: var(--text);
}

.staffpa > a > img {
    background-size: cover;
    width: 200px;
  z-index:1;
}

.staffpa > a:nth-of-type(1) {
  grid-row:2;
  grid-column:1;
  display: flex;
}

.staffpa > a:nth-of-type(2) {
  grid-row:1;
  grid-column:2;
  display: flex;
}

.staffpa > a:nth-of-type(1):after , .staffpa > a:nth-of-type(2):after {
  content:"";
  position: absolute;
width: 150px;
height: 150px;
background: linear-gradient(180deg, var(--accentClr) 0%,  var(--accentClr2) 100%);
      border-radius: 100%;
    margin: 50px;
}

.staffpa > .tab-content {
  grid-row:2;
  grid-column:2;
  display: flex;
  padding: 3em;
    align-items: center;
    align-self: center;
    flex-direction: column;
}

.staffpa > .tab-content .tab-1 {
display: contents;
}

span.pseupa {
      border: 1px solid #000000;
    border-radius: 10px;
    padding: 2px 20px;
  margin-top:1em;
}

 .tab-link {
    filter: grayscale(100%);
  }

  .tab-link.active {
    filter: none;
  }

.numbertwo {
  grid-template-rows: 2fr 1fr 3fr;
}


.thxpa {
    grid-row: 3/3;
    grid-column: 4/6;
    display: grid;
    margin-top: .5em;
  color: var(--neutral);
  font-family: var(--title-font);
    font-size: var(--title-size);
    font-weight: 400;
  max-height:400px;
    text-align:right;
    text-transform: uppercase;
}

.collapsingpa {
  display:grid;
  grid-template-rows:1fr;
  transition:ease 1.5s;
}

.collapsingpa > div {
  overflow:hidden;
}

div.accordion {
display: flex;
    position: relative;
    z-index: 99;
    height: 50px;
  padding: 10px;
      place-items: center;
    gap: 40px;
      font-weight: 600;
    font-size: var(--normal-size);
    text-transform: uppercase;
}

.accordion > button {
  appearance: none;
    border: none;
        font-weight: 600;
    font-size: var(--normal-size);
    text-transform: uppercase;
    font-family: var(--font);
    background: #1E1E1E;
    color: var(--neutral);
  border-radius: 10px;
    padding: 12px 40px;
}




/* Utilisé pour des titres de pages */
h1,
h1.page-title {
    color: var(--contrastLight);
    margin: 10px 0 20px;
    font-size: var(--title-size);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

/* Utilisé pour des titres de sujets, blogs... */
h2,
.h2 {
    margin: 0;
    font-size: var(--large-size);
    font-weight: 700;
}

/* Utilisé pour des titres de sous-sections, petit encadré, ...*/
h3,
.h3 {
    color: var(--contrastLight);
    padding-bottom: 10px;
    margin: 0;
    font-size: var(--medium-size);
    font-weight: bold;
}

/************************** catt ****/

.category {
    margin-bottom: 25px;
}

/* Titre d'une catégorie */
.cate_title h2 {
display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    margin: -40px 0 20px;
    color: var(--accentClr);
}

.forum_row {
display: flex;
    flex-wrap: wrap;
    margin-bottom: 1px;
    background: url(https://i.imgur.com/Q0fUHcj.png);
    background-position: 0% 31%;
    padding: 10px;
    border-radius: 0;
    gap: 10px;
    backdrop-filter: blur(30px);
    align-items: center;
}

.forum_row > .forum-img {
  display:none;
}

.forum_row:last-child {
    margin-bottom: 0
}


/* titre d'un forum */
a.forumtitle {
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
background: linear-gradient(113.38deg, #C79D4B 0%, #507777 15.23%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.forums {
      background: rgb(79 79 79 / 10%);
    border-radius: 10px;
    padding: 10px;
}

.forum-img {
    width: 70px;
    height: 70px;
    background-color: var(--neutralDark);
}

div#c4.category .forums .gridcat .forum_row .forum_desc , div#c3.category .forums .gridcat .forum_row .forum_desc  , div#c2.category .forums .gridcat .forum_row .forum_desc , div#c1.category .forums .gridcat .forum_row .forum_desc  {
      max-height: 65px;
      width: 55%;
}

.forum_desc {
  font-size: var(--little-size);
    max-height: 100px;
    overflow: auto;
    width: 70%;
    margin: 0 30px 0 15px;
      align-self: center;
    text-align: justify;
}

.forum_desc > img {
  float: left;
    height: 100px;
    margin-right: 50px;
    border-radius: 10px;
    object-fit: cover;
    width: 300px;
}

.forum_lastpost-avatar {
    width: 60px;
    height: 90px;
}

.forum_lastpost-avatar img {
    background: var(--neutralDark);
    width: 60px;
    height: 90px;
    object-fit: cover;
    object-position: center;
}

.forum_lastpost {
    display: flex;
    align-items: center;
}

.forum_details {
width: 100%;
    display: flex;
    justify-content: space-between;
}


#subforum {
    font-size: 0
}

#subforum a {
    font-size: var(--little-size);
    margin-right: 10px;
  font-family: 'Manrope';
font-style: normal;
font-weight: 700;
color: #1E1E1E;
margin-left:15px;
}

.forum_stats {
float: right;
    font-size: var(--little-size);
    background: var(--neutralDark);
    padding: 1px 10px;
    border-radius: 10px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}




.numerocat {
  border-left: 1px solid var(--accentClr);
}

.numerocat > div {
    width: 145px;
    height: 145px;
    background: var(--accentClr);
    transform: matrix(-0.32, 0.73, 0.33, 0.74, -0, 0);
    margin-left: -139px;
    margin-top: 170px;
    position: absolute;
    z-index: 9999;
}

div#c1.category div.forums > .gridcat {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 70px 1fr 1fr;
    gap: 0 20px;
  overflow: hidden;
}

span.fondcat {
  grid-row: 2/4;
    grid-column: 1/2;
    z-index: 99;
background: linear-gradient(180deg, #507777 0%, rgba(255, 255, 255, 0) 100%), url(https://i.imgur.com/jSeSlEB.png);
      background-size: cover;
}
.imagecat {
    background-image:url('https://i.imgur.com/eFiqS9t.png');
width:300px;
}

div#c1.category div.forums > .gridcat > div:nth-of-type(1) {
grid-row: 1/4;
    grid-column: 1/3;
    z-index: 100;
    background-size: cover;
    background-position: right;
}
div#c1.category div.forums > .gridcat > div:nth-of-type(2) {
  grid-row: 2;
    grid-column: 2;
}
div#c1.category div.forums > .gridcat > div:nth-of-type(3) {
grid-row: 3;
    grid-column: 2;
}


    .gridcat .hidden {
      opacity:0;
      margin-left: -100px; /* Définissez la valeur initiale de votre choix */
      transition: 1s;
    }
    .gridcat.fade-in .hidden {
      opacity:1;
      margin-left: 0px!important;
    }


div#c2.category div.forums > .gridcat {
  grid-template-columns: 4fr 0fr 1fr;
}

div#c2.category div.forums > .gridcat span.fondcat {
  grid-row: 2/4;
    grid-column: 3/4;
      background-size: cover;
}
div#c2.category div.forums > .gridcat .imagecat {
    background-image:url('https://i.imgur.com/f2mPAaH.png');
background-position: left;
}

div#c2.category div.forums > .gridcat > div:nth-of-type(1) {
    grid-row: 1/4;
    grid-column: 2/4;
    z-index: 100;
    background-size: cover;
}
div#c2.category div.forums > .gridcat > div:nth-of-type(2) {
  grid-row: 2;
    grid-column: 1;
}
div#c2.category div.forums > .gridcat > div:nth-of-type(3) {
grid-row: 3;
    grid-column: 1;
}


div#c2.category > .numerocat {
  display:none;
}

div#c4.category div.forums > .gridcat {
grid-template-columns: 1fr 1fr;
grid-template-rows: 50px 1fr 1fr;
}

div#c4.category div.forums > .gridcat > div:nth-of-type(1) {
    grid-row: 1/4;
    grid-column: 1/4;
    z-index: 100;
    background-size: cover;
    background-image: url(https://i.imgur.com/7MAjWub.png);
    width: 800px;
    height: 500px;
  background-position: top;
}

div#c4.category div.forums > .gridcat > div:nth-of-type(2) {
grid-row: 3;
    grid-column: 2/3;
  z-index:100;
  margin-bottom: 45px;
}

div#c4.category div.forums > .gridcat > span.fondcat {
grid-row: 2/4;
    grid-column: 1/4;
}

div#c4.category div.forums > .gridcat > .forum_row > .forum_desc {
  display:none;
}

/****/


div#c3.category div.forums > .gridcat {
grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr;
}

div#c3.category div.forums > .gridcat > div:nth-of-type(1) {
    grid-row: 1/4;
    grid-column: 1/4;
    z-index: 100;
    background-size: cover;
    background-image: url(https://i.imgur.com/jxYp4Ib.png);
  background-position: right;
  background-repeat: no-repeat;
}

div#c3.category div.forums > .gridcat > div:nth-of-type(2) {
grid-row: 2;
    grid-column: 2;
}

div#c3.category div.forums > .gridcat > div .forum_desc , div#c3.category div.forums div .forum_stats {
  display:none;
}


div#c3.category div.forums > .gridcat > div:nth-of-type(3) {
grid-row: 2;
    grid-column: 3;
}


div#c3.category div.forums > .gridcat > div:nth-of-type(4) {
grid-row: 2;
    grid-column: 4;
}


div#c3.category div.forums > .gridcat > div:nth-of-type(5) {
grid-row: 3;
    grid-column: 2/5;
 /** background: linear-gradient(180deg, #507777 0%, rgb(255 255 255 / 38%) 100%), url(https://i.imgur.com/jSeSlEB.png);
  place-content: center;  ***/
    background-size: cover;
  place-content: baseline;
}

div#c3.category div.forums a.forumtitle {
background: linear-gradient(113.38deg, #C79D4B 0%, #507777 15.23%);
    -webkit-background-clip: revert;
    -webkit-text-fill-color: white;
    padding: 0 20px;
  border-radius: 10px;
}

div#c3.category div.forums div:nth-of-type(1) {
  text-align:center;
}


div#c3.category div:nth-of-type(5) div a.forumtitle {
-webkit-text-fill-color: var(--accentClr);
    font-size: var(--medium-size);
    padding: 0 100px;
    border-radius: 10px;
    background: linear-gradient(113.38deg, #C79D4B 0%, #507777 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


.guidebookcat {
padding: 0 20px;
    position: absolute;
    width: 380px;
    height: 449px;
    z-index: 990;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 69.27%, #507777 100%);
    border-radius: 0px 100px 0px 0px;
    margin-top: 50px;
    display: flex;
    place-content: center;
    flex-direction: column;
}

.guidebookcat span:nth-of-type(1) {
    background: var(--accentClr);
    font-size: var(--large-size);
    text-transform: uppercase;
    padding: 5px 30px;
    border-radius: 0 10px 10px 0;
    color: #EFD94D;
    text-align-last: center;
    font-weight: 600;
    margin-left: -40px;
    margin-top: 30px;
    top: 0;
    position: absolute;
}

.guidebookcat span:nth-of-type(2) {
    font-family: 'Forum';
    font-style: normal;
    font-size: var(--medium-size);
    text-decoration-line: underline;
    color: var(--accentClr);
    align-self: center;
text-align: center;
}

.guidebookcat span:nth-of-type(2) a {
  margin: 0 10px;
}


div#c4.category div.forums > .gridcat.fade-in .hidden {
    opacity: 1;
  margin-left: 150px!important;}




.gridcat {
    display: grid;
    gap: 0 20px;
    overflow: hidden;
}

.profil_contact a {    background: var(--accentClr);
    padding: 2px 10px;
    border-radius: 10px;
    color: var(--neutral);}


.poster-list {margin-bottom: 30px;color: var(--neutral);}
.contmsg h1.page-title {    margin-top: 50px;}

.post_pseudo a span strong {font-weight: 400!important;}
.champ_runes { white-space: nowrap;
    overflow-x: auto;}

.champ_runes table {
display: contents;
  white-space: normal;
    word-break: keep-all;
}

.tagbleu strong{background: #8ab4f8;padding: 1px 10px;border-radius: 10px;text-transform: uppercase;font-size: var(--little-size);display: inline-table;white-space: normal;word-break: keep-all;}
.tagmauve strong{background: #c58af9;padding: 1px 10px;border-radius: 10px;text-transform: uppercase;font-size: var(--little-size);display: inline-table;white-space: normal;word-break: keep-all;}
.tagrose strong{background: #f28b82;padding: 1px 10px;border-radius: 10px;text-transform: uppercase;font-size: var(--little-size);display: inline-table;white-space: normal;word-break: keep-all;}
.tagbeige strong{background: #fcad70;padding: 1px 10px;border-radius: 10px;text-transform: uppercase;font-size: var(--little-size);display: inline-table;white-space: normal;word-break: keep-all;}
.tagvert strong{background: #81c995;padding: 1px 10px;border-radius: 10px;text-transform: uppercase;font-size: var(--little-size);display: inline-table;white-space: normal;word-break: keep-all;}
.tagjaune strong{background: #fdd663;padding: 1px 10px;border-radius: 10px;text-transform: uppercase;font-size: var(--little-size);display: inline-table;white-space: normal;word-break: keep-all;}
.tagcyan strong{background: #78d9ec;padding: 1px 10px;border-radius: 10px;text-transform: uppercase;font-size: var(--little-size);display: inline-table;white-space: normal;word-break: keep-all;}
.taggris strong{background: #dadce0;padding: 1px 10px;border-radius: 10px;text-transform: uppercase;font-size: var(--little-size);display: inline-table;white-space: normal;word-break: keep-all;}
.tagrose2 strong{background: #ff8bcb;padding: 1px 10px;border-radius: 10px;text-transform: uppercase;font-size: var(--little-size);display: inline-table;white-space: normal;word-break: keep-all;}

tbody, tr, td {
display: unset!important;
    vertical-align: unset!important;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .dropdown.active .dropdown-content {
    max-height: 1000px; /* ou une valeur suffisamment grande pour afficher tout le contenu */
    transition: max-height 0.3s ease;
  }

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.qeel_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 4fr;
    grid-template-rows: 1fr 3fr 1fr 100px;
    width: 1160px;
    height: 620px;
}
.image_footer {
  background-image:url(https://i.imgur.com/pYGV0Cf.png);
grid-row: 1/4;
    grid-column: 1/5;
    margin-left: -200px;
    background-size: 100%;
  z-index: 2;
}
.conteneur_footer.bg {
      background-image: url(https://i.imgur.com/s47S3LL.png);
    background-size: cover;
  z-index:1;
}
.conteneur_footer {
grid-row: 2/4;
    grid-column: 1/6;
    z-index: 3;
    border-radius: 10px;
  display:grid;
    grid-template-rows: 20px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 20px;
    grid-template-columns: 20px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 20px;
}

.connexion_footer {
  border-radius: 10px;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(20px);
  padding: 20px;
    text-align: justify;
  overflow:auto;
}

.connexion_footer.newmember {
    grid-row: 2/6;
    grid-column: 2/6;
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 15px;
    font-weight: 400;
  text-align: left;
}

.connexion_footer.lastco {
grid-column: 5/9;
    grid-row: 7/11;
}

.connexion_footer.nowco {
    grid-row: 3/6;
    grid-column: 7/10;
}

.title_footer {
  color: #FFF;
text-align: right;
font-family: Manrope;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
  z-index:100;
}

.title_footer.co {
      grid-row: 10/12;
    grid-column: 8/10;
}

.title_footer.last {
  grid-row: 2/3;
    grid-column: 8/10;
}


#lastuser_avatar img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    margin-right: 10px;
}

.stat_footer {
  display: flex;flex-direction: row;gap: 10px;justify-content: space-around;
}

.stat_footer > span {
  background:var(--accentClr2);
  padding: 2px 10px;
}

.groupes_footer {
  grid-row: 4;
    grid-column: 1/6;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.groupes_footer a.groups {
      border-bottom: 4px solid;
  color: #000;
text-align: center;
font-family: Forum;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}

a.groups:nth-of-type(1) {
      border-bottom-color: #81C995;
}
a.groups:nth-of-type(2) {
      border-bottom-color: #F28B82;
}
a.groups:nth-of-type(3) {
      border-bottom-color: #DADCE0;
}
a.groups:nth-of-type(4) {
      border-bottom-color: #C58AF9;
}

#lastuser_avatar img:nth-of-type(2) {
    display: none;
}

.category {
    margin-bottom: 100px;
    margin-top: 110px;
}


.discord_gimmik {
  padding:20px;
    background:#141414;
order-radius: 0px 0px 10px 10px;
color:white;
font-family: 'Manrope', sans-serif;}

.discord_gimmik h1 {
      margin-block-start: 0em;
    margin-block-end: 0em;
}

.discord_inline {
    line-height: 0.7;
  font-weight: 700;
}

.container#wombat {
  background:#262626;
}


div.quote {
    font-weight: 400;
    line-height: 1;
    max-height: 100px;
    overflow: auto;
    text-align: justify;
    background: #373737;
    padding: 10px;
    border-radius: 5px;
}

.discord_gimmik .iconmood img, .discord_gimmik .iconmood {
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
}

.iconpost {
  height:65px;
}

.iconpost img {
    height: 65px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.discord_gimmik_bottom {   
  border-top: 1px solid white;
    margin-top: 15px;
    padding: 10px 0;}

.discord_gimmik_date {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.discord_gimmik_player {
  margin: 10px 0;
}
.discord_gimmik_player strong,.discord_gimmik_date strong, .discord_gimmik_tags strong, .discord_gimmik_bottom strong {
text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
}

.discord_gimmik_player img {
    width: 75px;
    height: 75px;
}

.fakeplayer{
display: flex;margin-top: 10px;gap:10px;
}

.fakeplayer div {
background: #373737;
  color: #b2b2b2;
  border-radius: 5px;
  text-align: center;
  width:100%;
   transition:1s ease;
}
.fakeplayer div:nth-of-type(2) {
background-image: url(https://i.imgur.com/l7BUmMl.png);
    background-size: contain;
    width: 25px;
    background-repeat: no-repeat;
    background-position-y: center;
    padding: 10px;
}
.discord_gimmik .champ_runes {
  margin-top: 10px;
      background: #373737;
    border-radius: 5px;
}
.discord_gimmik_tags { 
    line-height: 1;
    display: flex;
    flex-direction: column;
  max-height:150px;
  overflow:auto;
}

.discord_gimmik_links {
  margin-top: 15px;
    display: flex;
    gap: 5px;
}

.discord_gimmik_links a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    background: var(--accentClr);
    padding: 2px 4px;
    border-radius: 5px;
}

.fakeplayer div a {
  text-decoration:none;
  color:unset;
}

.fakeplayer div:hover {
  background: #b2b2b2;
    color: #373737;
  transition:1s ease;
}


.container#wombat {
  width:400px;
opacity:0;
  visibility:hidden;
position:absolute;
z-index:100;
margin-left: -1034px;
margin-top: 100px;
transition: all ease 1s;
transition-delay: .5s;}


